[Desktop Entry]
Name=CGL Widget Factory
Comment=A showcase for CGL widgets, designed for testing themes.
Exec=gtk3-widget-factory
Icon=gtk3-widget-factory
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;
NoDisplay=true
